.container-footer {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: start;
  }
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: relative;
  }
}

.container-footer__box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.logo {
  @media screen and (max-width: 767px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    font-size: 26px;
    margin-bottom: 20px;
  }

  color: #2196f3;
  font-weight: bold;
  line-height: 1;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;

  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}

.block-adress {
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
}

.footer-logo-color {
  color: #ffffff;
}

.address-font__adres-item {
  margin-bottom: 10px;
}

.address-font {
  font-style: normal;
}

.address-font__item-link {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;
  }
}

.address-font__nav-mail {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;
  }
}

.address-font__nav-tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;
  }
}

.footer-social__join-title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer-social {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer-social-l {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-social-l__list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    outline: none;
  }
}

.footer-social-l__list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-form-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
  }
}

.footer-form {
  justify-content: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 450px;
    margin: 0 auto;
  }
}

.footer-form__email {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: #afb1b8;
    outline: none;
  }
}

.footer-form__btn {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188ce8;
  padding-right: 62px;
  padding-left: 28px;

  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;

  &:hover {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
  }
}

.footer-form__btn-icon {
  margin-left: 10px;
  margin-top: 4px;
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
}

.container-footer__form-title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
    text-align: center;
  }
}
