.project {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-bem {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.project__p-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);

    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
}

.overlay {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: #ffffff;
  padding: 64px 24px;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .project__p-item-link:hover &,
  .project__p-item-link:focus & {
    transform: translateY(0%);
    outline: none;
  }
}

.project__p-item-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
}

.project__img-wrapper {
  position: relative;
  overflow: hidden;
}

.project__menu-img {
  display: block;
  width: 100%;
  height: auto;
}

.project__card-content {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 20px;
  border: 1px solid #eeeeee;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title);
}

.project__project-discription {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
