.mob-menu {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow: auto;

  &__container {
    position: relative;
  }

  &__close-btn {
    position: absolute;
    padding: 0;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 0;
  }
}
