.modal-form-message {
  width: 100%;
  height: 120px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.icon-non-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;

  .modal-form-checkbox:checked + & {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url('../images/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
  }
}

.modal-form-checkbox-policy {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  justify-content: center;
}

.modal-form-policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-btn {
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188ce8;

  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;

  padding: 10px 55px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 26px;

  &:hover {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  @media screen and (min-width: 768px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
  border-radius: 4px;
  background: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:hover .modal-close-btn-icon {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
