:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --link-button: #2196f3;
  --link-nav: #757575;
  --title: #212121;
  --navlink: #212121;
}
